<!--<router-outlet></router-outlet>-->
<br>
<br>
<div class="columns body-columns">
    <div class="column is-three-quarters is-offset-one-eighth">

        <div class="columns is-vcentered">
            <div class="column is-6">
                <figure class="image">
                    <img src="../assets/logo.png">
                </figure>
            </div>


            <div class="column is-5 is-offset-1 has-text-right">
                <p class="title is-3 ">
                    8(800) 555-3535
                </p>

                <button class="button is-styled is-rounded" (click)="showModal('order')">
                    Оформить заказ
                </button>
            </div>
        </div>


        <div class="card" style="border-radius: 10px;">

            <div class="slideshow-container">

                <div *ngFor="let slide of slides; let i = index" class="fade slide" [class.hidden]="!slide.visible">
                    <figure class="image is-16by9">
                        <img src="{{slide.url}}" style="width:100%; border-radius: 10px;">
                    </figure>
                </div>

                <a class="prev" (click)="prevSlide()">&#10094;</a>
                <a class="next" (click)="nextSlide()">&#10095;</a>
            </div>
            <div style="text-align:center" class="slider-dots">
                <span *ngFor="let slide of slides; let i = index" class="dot" (click)="changeSlideTo(i)"
                      [class.active]="slide.visible"></span>
            </div>
        </div>

        <br/>
        <br/>


        <div class="tile is-ancestor">
            <div class="tile is-parent is-8 is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">О компании</p>
                    <p class="subtitle "><a class="super-link" (click)="showModal('portfolio')">Познакомьтесь с нашими работами</a></p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                            facilisis.</p>
                    </div>

                </article>
            </div>
            <div class="tile is-parent is-shady has-text-right">
                <article class="tile is-child notification is-white">
                    <a class="button is-white" (click)="showModal('awards')" style="height: auto!important;">
                        <figure>
                            <img src="../assets/awards.png" style="object-fit: cover">
                            <p class="subtitle is-4">Наши награды</p>
                        </figure>
                    </a>
                </article>
            </div>
        </div>


        <br/>
        <br/>


        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Наша команда</p>
                    <p class="subtitle">Anything that can go wrong will go wrong</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                            facilisis.</p>
                    </div>

                </article>

            </div>

        </div>

        <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Босс</p>
                    <img src="http://glebradchenko.susu.ru/pic/photo.jpg"
                         alt="Avatar" style="border-radius: 50%; width:100px; height: 100px; object-fit: cover;">
                    <p class="title is-4">Глеб<br/>Радченко</p>
                </div>
            </div>


        </nav>


        <br/>
        <br/>


        <div id="map" style="width: 100%; height: 400px; border-radius: 10px;"></div>

        <br/>
        <br/>


        <footer class="footer">
            <div class="container is-fluid">
                <div class="content has-text-centered">
                    <p>
                        <strong>Интерьер++</strong> © {{ currentDate <= 2018 ? "": "2018 - " }}{{currentDate}} |
                        Designed by Alkapov

                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>

<div class="modal" [class.is-active]="isModalActive('order')">
    <div class="modal-background"></div>
    <div class="modal-card">

        <section class="box">

            <p class="title is-2">Оформите заказ</p>
            <p class="subtitle is-5">Оставьте ваши контактные данные и пожелания. Наш специалист в скором времени свяжется с Вами.</p>

            <form>
                <div class="field">
                    <label class="label">Имя</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Как к Вам можно обращаться?" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Телефон</label>
                    <div class="control">
                        <input class="input" type="tel" placeholder="Специалист позвонит Вам на данный номер" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Информация о заказе будет отправлена Вам на почту" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Пожелания</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Все, что Вы думаете было бы полезно для нас"></textarea>
                    </div>
                </div>
                <div class="field is-grouped" style="float: right">
                    <div class="control">
                        <button class="button is-link">Отправить</button>
                    </div>
                    <div class="control">
                        <button class="button is-text" (click)="closeModal()">Отменить</button>
                    </div>
                </div>


            </form>

        </section>
    </div>
    <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
</div>

<div class="modal" [class.is-active]="isModalActive('awards')">
    <div class="modal-background"></div>
    <div class="modal-content full">
        <div class="box">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-10 is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="title">Main column</p>
                        <p class="subtitle">With some content</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                        </div>
                    </article>
                </div>

            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-10 is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="title">Main column</p>
                        <p class="subtitle">With some content</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                        </div>
                    </article>
                </div>

            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-10 is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="title">Main column</p>
                        <p class="subtitle">With some content</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                        </div>
                    </article>
                </div>

            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-10 is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="title">Main column</p>
                        <p class="subtitle">With some content</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </div>
    <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
</div>

<div class="modal" [class.is-active]="isModalActive('portfolio')">
    <div class="modal-background"></div>
    <div class="modal-content full">
        <div class="box">

            <div class="tile is-ancestor">
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                       <figure class="image">
                           <img src="https://source.unsplash.com/random/1280x960" style="object-fit: cover; height: 200px; width: 200px; border-radius: 10px;"/>
                       </figure>
                    </article>
                </div>
                <div class="tile is-parent is-9 is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="title">Main column</p>
                        <p class="subtitle">With some content</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
    <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
</div>