<div class="container is-fluid">

  <div class="columns" style="background:aqua">
    <div class="column is-half "> 
      <!-- is-three-fifths -->
      <figure class="image">
        <img src="../assets/logo.png">
      </figure>
    </div>
    <div class="column">Auto</div>
    <div class="column">Auto</div>
  </div>

 <div class="columns" style="background:red">
    <figure class="image is-5by2">
   <img src="../assets/slider-img-1.jpg"/>
   </figure>
 </div>

 <div class="columns is-variable is-2">
    <div class="column is-three-quarters" style="background:aqua">is-three-quarters</div>
    <div class="column" style="background:red">Auto</div>
    <div class="column" style="background:yellow">Auto</div>
  </div>

  <div class="column" style="background:yellow">Auto</div>
  <div class="column" style="background:yellow">Auto</div>
  <div class="column" style="background:yellow">Auto</div>


<div class="notification">
  This container is
  <strong>fluid</strong>: it will have a 32px gap on either side, on any viewport size.
</div>
</div>
<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </div>
  </footer>
<router-outlet></router-outlet>
